body{
    /* background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.03) url(/sola&ola.jpg); */
    background-image: linear-gradient(20deg, #4ddefc,#ecd);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
