body{
    background-color: antiquewhite;
    background-image: url(/sola&ola.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.one{
    font-size: 5em;
    font-weight: 800;
    background-color: blueviolet;
}
.two{
    font-size: 1rem;
    font-weight: 800;
    /* background-color: rgb(67, 67, 197) */
    background-color: rgba(0, 128, 0, 0.3);
    
}
.three{
    font-size: 80px;
    font-weight: 800;
    background-color: hotpink
}
